includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        - %currentWorkingDirectory%/tests/*
        - %currentWorkingDirectory%/wordpress/*
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    ignoreErrors:
        - '#Function apply_filters invoked with [0-9] parameters, 2 required#'
        - '#Function as_schedule_single_action invoked with 5 parameters, 2-4 required#'
        - '#Function as_enqueue_async_action invoked with 4 parameters, 1-3 required#'
        - '#Function as_schedule_recurring_action invoked with 6 parameters, 3-5 required#'
        - '#dispatch_async\(\) is unused#'
        - '#dispatch_at\(\) is unused#'
        - '#dispatch_recurring\(\) is unused#'
    reportUnmatchedIgnoredErrors: false
    